*.idea/*
/.DS_Store
/log/*
*/**/__pycache__
/__pycache__/*
*data/*
*.swp
**/*.pkl
*/log/*
*/tensorboard/*
*.egg
*.pt

**/*.txt
**/*.jpg
**/*.png
**/*.gif
**/*.o
**/*.ninja*1
**/*.xyz

**/*.pdf
**/*.zip
**/*.pth
**/*.json
**/*.h5
**/*.txt
*.xlsx
*.~*.xlsx
*.zip
**/*.so


